@font-face {
  font-family: 'MyWebFont'; 
  src: url(../src/css/myfont.woff2) format('woff2'), 
       url(../src/css/myfont.woff) format('woff')
};

body {
  background-color:  #fffaf7;
  margin: 0;
  font-family: 'MyWebFont', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #184b3b; 
  
}

code {
  font-family: 'MyWebFont', Arial, Helvetica, sans-serif;
}
#root {
  font-family: 'MyWebFont', Arial, Helvetica, sans-serif;
  color: #184b3b; 
}
#root a {
  text-decoration: none;
}

