

 .navList {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    padding-bottom: 5px;
    color: #fffaf7;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
} 
.navLinks {
    text-decoration: none;
    transition: .6s;
    color: #184b3b;
    font-size: 19.5px;
}

.navLinks:hover {
    text-decoration: none;
    transition: .6s;
    color: #f08f34;
}

