.navList {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    padding-bottom: 5px;
    background-color: #184b3b;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

