 .navList {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    padding-bottom: 5px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
} 

.nav {
    z-index: 1;
    width: 100%;
}
.navLinks {
    text-decoration: none;
    transition: .6s;
    color: white;
    font-size: 19px;
    font-family: 'Spectral', "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;

}

.navLinks:hover {
    text-decoration: none;
    transition: .6s;
    color: #f08f34;
}
.icon {
    width: 20px;
    height: 30px;
}
.primaryNavLinks {
    display: flex;
}
.secondaryNavLinks {
    display: flex;
    flex-direction: row;
}

.secondaryNavLinks li {
    margin: 0 29px;
}

.primaryNavLinks .navLinks {
    margin: 0 3px;
    font-size: 23px;
}



